#pong {

  position: relative;

  margin: 0 auto;
  width: 800px;
  height: 560px;

  background-color: #000;
}

#ball {

  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);

  width: 20px;
  height: 20px;

  background-color: #fff;
}

.pad {

  position: absolute;
  top: calc(50% - 60px);
  width: 20px;
  height: 120px;

  background-color: #f00;
}

#pad1 {
  left: 20px;
}

#pad2 {
  right: 20px;
}
